.one
{
	display:flex;
	margin:160px;
	border:2px solid black;
	justify-content:center;
	margin-top:10px;
	margin-bottom:10px;
}
.one .header
{
	display:flex;
	flex-direction:row;
}
.one .header .b1
{
	height:20px;
	width:50px;
	background-color:blue;
	margin:10px;
}
.one .header .b2
{
	height:20px;
	width:50px;
	background-color:blue;
	margin:10px;
	margin-left:900px;
}
.one .split1
{
	display:flex;
	flex-direction:column;	
}
.one .split1 .split11
{
	display:flex;
	flex-direction:column;
	background-color:purple;
}
.one .split1 .split11 .split111
{
	display:flex;
	flex-direction:column;
}
.one .split1 .split11 .split111 .box
{
	height:60px;
	width:100px;
	background-color:red;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.one .split1 .split11 .split111 .dark
{
	height:30px;
	width:150px;
	background-color:white;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.one .split1 .split11 .split111 .text
{
	height:20px;
	width:50px;
	background-color:white;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.one .split1 .split11 .split112
{
	height:220px;
	width:1045px;
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.one .split1 .split11 .split112 .box
{
	height:100px;
	width:300px;
	background-color:black;
	margin:10px;
	margin-top:130px;
}
.one .split1 .split12
{
	height:120px;
	width:1045px;
	display:flex;
	flex-direction:column;
}
.one .split1 .split12 .box
{
	height:50px;
	width:300px;
	background-color:black;
	margin:10px;
}
.one .split1 .split12 .split121
{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.one .split1 .split12 .split121 .text
{
	height:20px;
	width:50px;
	background-color:pink;
	margin:10px;
}
.one .split1 .split12 .split122
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
}
.one .split1 .split12 .split122 .text
{
	height:20px;
	width:50px;
	background-color:pink;
	margin:10px;
}
.one .footer
{
	display:flex;
	justify-content:center;
	border-top:1px solid gray;
}
.one .footer .text
{
	height:20px;
	width:100px;
	background-color:brown;
	margin:10px;
}
